name: Deploy Nebula Containers

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App for Containers
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'NebulaML'
          images: |
            nebulacanadaacr.azurecr.io/nebula-image-frontend:v2
            nebulacanadaacr.azurecr.io/nebula-image-backend:v2
